# Introduction to Python

## Basic operations with integer, floats, sitings, and lists

Note that Jupiter notebook allows to prepare professional looking documents using `Markdown` that, in addition to other feature, can also include formulas. For example, $E = mc^2$ $a = \frac{F}{m}$.

In [349]:
A = 10
B = A / 3

In [350]:
10 / 3

3.3333333333333335

In [351]:
10 // 3

3

In [352]:
10 % 3

1

In [353]:
2 ** 4

16

In [354]:
(-2) ** 4

16

In [355]:
-2 ** 4

-16

In [356]:
x = 0.

In [357]:
x = 0

In [358]:
x += 0.1 # x = x + 0.1

In [359]:
x

0.1

In [360]:
x = float(0)

In [361]:
x

0.0

In [362]:
x += 1 # x = x + 1

In [363]:
x

1.0

In [364]:
A.bit_length()

4

In [365]:
"ABC" =='ABC'

True

In [366]:
S = "A B C"

In [367]:
S.lower()

'a b c'

In [368]:
'A' + 'B'

'AB'

In [369]:
code = "{} = {} + {} + {}".format('a', 1, 2, 1)

In [370]:
code

'a = 1 + 2 + 1'

## Dictionaries

It is a look-up table associating names (i.e., keys) with values

In [371]:
args_ = dict(arg1 = 1, arg2 = 2, var = 'a')

In [372]:
args = {
    'arg1' : 1,
    'arg2' : 2,
    'var'  : 'a',
    2 : [10, 11],
}

In [373]:
"{var} = {arg1} + {arg2} + {arg1}".format(**args)

'a = 1 + 2 + 1'

In [374]:
a = 1 / 300000

In [375]:
print("result = {:.2e}".format(a))

result = 3.33e-06

In [376]:
print("result = {:.2f}".format(1/3))

result = 0.33

In [377]:
A = list(range(10))

### Difference between the content of containers (i.e., lists) and the name of the variable

Note that the variable names act as pointers

In [378]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [379]:
A[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [380]:
B = A

In [381]:
B

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [382]:
A

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [383]:
A[0] = -100

In [384]:
A

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [385]:
B

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [386]:
A

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [387]:
A == B

True

In [388]:
C = [-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [389]:
A == C

True

In [390]:
C is A

False

In [391]:
B is A

True

In [392]:
C = A[:]

In [393]:
C is A

False

In [394]:
A

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [395]:
C

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [396]:
A[:] is A

False

In [397]:
type(A)

list

In [398]:
A

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Lists

In [399]:
L = [1,]

In [400]:
len(L)

1

In [401]:
L.append(["a",])

In [402]:
L

[1, ['a']]

In [403]:
L.append("b")

In [404]:
L

[1, ['a'], 'b']

In [405]:
del L[1]

In [406]:
L

[1, 'b']

In [407]:
L.insert(1,'f')

In [408]:
L

[1, 'f', 'b']

# Indexing
works with any container including lists. The syntaxes is as follows

    container_name[start_position:end_position:step_size]

Not all of them needs to be specified.

Get all elements except the first

In [409]:
A[1:]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Get all elements except the last

In [410]:
A[:-1]

[-100, 1, 2, 3, 4, 5, 6, 7, 8]

Reverse the order

In [411]:
A[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, -100]

Get every third element

In [412]:
A[::3]

[-100, 3, 6, 9]

More complex operations

In [413]:
A[-3:2:-1]

[7, 6, 5, 4, 3]

In [414]:
A

[-100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Tuples

A tuple can be thought of as an immutable list

In [415]:
T = (1, 1, 2)

In [416]:
T1 = (T[0],) + (3,) + T[1:]

In [417]:
T1

(1, 3, 1, 2)

In [418]:
T1 is T

False

# Looping

Very important facility in Python. Time performance of the program depends on the way it is realized.

In [419]:
A = list(range(1000000))

In [420]:
len(A)

1000000

## Not to do this way

In [421]:
def worst(A):
    result = [] # result = list()

    for i in range(len(A)):
        result.append(2 * A[i])
    return result

In [422]:
r = worst(A)

Get run time for the above operation

In [423]:
%time r = worst(A)

CPU times: user 132 ms, sys: 20.4 ms, total: 153 ms
Wall time: 152 ms

Get more accurate run time by averaging over multiple runs

In [424]:
%timeit r = worst(A)

135 ms ± 2.24 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

## Best

List comprehension

In [425]:
%timeit r1 = [2 * a for a in A]

68.9 ms ± 1.51 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [426]:
r1 = [2 * a for a in A]

In [427]:
B = [2 * a for a in A if a not in [0, 1j, 11]]

In [428]:
22 in B

False

## Mediocre

In [429]:
def mid(A):
    result = [] # result = list()

    for a in A:
        result.append(2 * a)
    
    return result

In [430]:
%timeit r = mid(A)

107 ms ± 2 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

# Profiler

An advance form of `%time` and `%timeit`

In [431]:
import cProfile

In [432]:
cProfile.run("worst(A)")

         1000005 function calls in 0.244 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.170    0.170    0.230    0.230 <ipython-input-421-ae0d4d48c9b6>:1(worst)
        1    0.014    0.014    0.244    0.244 <string>:1(<module>)
        1    0.000    0.000    0.244    0.244 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {built-in method builtins.len}
  1000000    0.060    0.000    0.060    0.000 {method 'append' of 'list' objects}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

## Library `itertools` provides sophisticated tools for looping

In [433]:
#from itertools import permutations
import itertools

In [434]:
for p in itertools.permutations([1, 2, 3]):
    print(p)

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [435]:
for a, b in zip([1, 2, 3], "abc"):
    print("a = {}, b = {}\n".format(a, b))

a = 1, b = a

a = 2, b = b

a = 3, b = c

# Functions

In [436]:
def f(a, b, *args):
    print(args)
    print(sum(args))
    return a + b + sum(args)

In [437]:
f(1, 2)

()
0

3

In [438]:
L = (1, 2, 3, 4)

f(*L)

(3, 4)
7

10

In [439]:
def f(a, b=0, *args):
    print(args)
    print(sum(args))
    return a + b + sum(args)

In [440]:
f(c=1)

TypeError: f() got an unexpected keyword argument 'c'

In [ ]:
def f(a, b=0, *args, **kwargs):
    print(args)
    print(kwargs)
    print(sum(args))
    return a + b + sum(args)

In [ ]:
f(0, 7, 8, c=1, blah=11, blahblah=12)